.vs/
XamScaffold/XamScaffold.Android/obj/
XamScaffold/XamScaffold.Android/bin/
XamScaffold/XamScaffold/obj/
XamScaffold/XamScaffold/bin/
XamScaffold/XamScaffold.iOS/obj/
XamScaffold/XamScaffold.iOS/bin/